@mixin container() {
  margin: 0 auto;
  min-width: 320px;
  padding-right: $mobile-indent;
  padding-left: $mobile-indent;

  @media (min-width: $tablet) {
    padding-right: $tablet-indent;
    padding-left: $tablet-indent;
  }

  @media (min-width: $desktop) {
    padding-right: $desktop-indent;
    padding-left: $desktop-indent;
  }
}

@mixin max-mobile($max-mobile: 500px, $margin-auto: auto) {
  max-width: $max-mobile;
  margin-right: $margin-auto;
  margin-left: $margin-auto;
}

@mixin max-tablet($max-tablet: 840px, $margin-auto: auto) {
  max-width: $max-tablet;
  margin-right: $margin-auto;
  margin-left: $margin-auto;
}

@mixin max-desktop($max-desktop: 1300px, $margin-auto: auto) {
  max-width: $max-desktop;
  margin-right: $margin-auto;
  margin-left: $margin-auto;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@mixin flex-row-s() {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flex-column-s() {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@mixin flex-element($element-display: block, $element-shrink: 0) {
  display: $element-display;
  flex-shrink: $element-shrink;
}

@mixin field-reset() {
  margin: 0;
  padding: 0;
}

@mixin order-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin pseudo() {
  content: "";
  position: absolute;
  display: block;
}

@mixin full-absolute() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin font-label-name() {
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
  text-transform: uppercase;
  color: $add-color-2;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop) {}
}
