.add-product {
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid $small-border;

  @media (min-width: $tablet) {
    @include max-tablet();
    padding-top: 25px;
    padding-right: 37px;
    padding-bottom: 27px;
    padding-left: 38px;
    border-right: 1px solid $small-border;
    border-bottom: 1px solid $small-border;
    border-left: 1px solid $small-border;
  }

  @media (min-width: $desktop) {
    max-width: none;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;
    border-right: none;
    border-left: none;
  }

  &:first-child {
    border-top: 1px solid $small-border;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {
      border-top: 1px solid $small-border;
    }
  }

  &__container {
    @include max-mobile();

    @media (min-width: $tablet) {
      @include flex-row();
      flex-wrap: wrap;
      max-width: none;
    }

    @media (min-width: $desktop) {}
  }

  &__title {
    @include field-reset();
    padding-bottom: 14px;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    a {
      color: $add-color-2;
    }

    @media (min-width: $tablet) {
      @include flex-element();
      width: 50%;
      font-size: 20px;
      a {}
    }

    @media (min-width: $desktop) {
      width: 36.3%;
      padding-top: 10px;
      padding-bottom: 0;
      a {}
    }
  }

  &__text {
    @include field-reset();
    @include flex-row();
    padding-bottom: 15px;
    font-family: $add-font;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: $small-text;

    @media (min-width: $tablet) {
      display: flex;
      padding-top: 4px;
      padding-bottom: 22px;
      flex-shrink: 0;
      width: 50%;
      font-size: 16px;
      line-height: 1.25;
    }

    @media (min-width: $desktop) {
      width: 36.3%;
      padding-top: 14px;
      padding-bottom: 0;
    }
  }

  &__quantity {
    @include flex-element();
    width: 50%;
    text-align: left;

    @media (min-width: $tablet) {
      width: auto;
      flex-grow: 1;
      text-align: right;
    }

    @media (min-width: $desktop) {
      text-align: left;
    }
  }

  &__value {
    @include flex-element();
    width: 50%;
    text-align: right;

    @media (min-width: $tablet) {
      width: 95px;
    }

    @media (min-width: $desktop) {
      width: 81px;
      text-align: left;
    }
  }
}
