.button {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
  background: $green;
  border: none;
  cursor: pointer;

  &:hover {
    background: darken($green, 4%);
  }

  &:active {
    color: transparentize($white, 0.7);
  }

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &--promo {
    position: relative;
    margin: 0 auto;
    padding-bottom: 12px;
    max-width: 320px;
    font-size: 14px;
    line-height: 1.29;

    @media (min-width: $tablet) {
      z-index: 10;
      max-width: 245px;
      margin: 0;
      margin-left: 87px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 20px;
      line-height: 1;
      order: 3;
    }

    @media (min-width: $desktop) {
      margin-left: 6.5%;
    }
  }

  &--all {
    color: $add-color-2;
    background: $silver-bg;

    &:hover {
      background: darken($silver-bg, 4%);
    }

    &:active {
      color: transparentize($add-color-2, 0.7);
    }

    @media (min-width: $tablet) {
      margin-top: 61px;
      color: $small-text;

      &:active {
        color: transparentize($small-text, 0.7);
      }
    }

    @media (min-width: $desktop) {}
  }

  &--add-product {

    @media (min-width: $tablet) {
      width: 100%;
    }

    @media (min-width: $desktop) {
      width: auto;
      flex-grow: 1;
    }
  }

  &--form {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 22px;

    @media (min-width: $tablet) {
      width: 45.01%;
      max-width: 330px;
      margin: 0;
      margin-right: 60px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 20px;
      line-height: 1;
    }

    @media (min-width: $desktop) {
      flex-grow: 1;
      flex-basis: 100%;
      max-width: 568px;
      margin-right: 0;
    }
  }
}
