.catalog {
  padding-top: 16px;

  @media (min-width: $tablet) {
    padding-top: 48px;
  }

  @media (min-width: $desktop) {
    padding-top: 68px;
  }

  &__title {
    @include field-reset();
    padding-bottom: 28px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: $main-font;
    font-size: 36px;
    line-height: 1.67;
    font-weight: 400;
    color: $big-text;
    border-bottom: 1px solid $add-color-4;
    span {
      @include max-mobile();
      display: block;
    }

    @media (min-width: $tablet) {
      padding-right: 30px;
      padding-bottom: 62px;
      padding-left: 30px;
      font-size: 60px;
      line-height: 1;
      border-bottom: none;
      span {
        @include max-tablet();
      }
    }

    @media (min-width: $desktop) {
      max-width: 1300px;
      margin: 0 auto;
      padding-left: 3.05%;
      span {
        max-width: none;
      }
    }
  }

  @media (min-width: $catalog-tablet) and (max-width: $max-tablet) {
    &__title {
      span {
        max-width: 1092px;
      }
    }
  }
}
