.contacts {

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__container {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__address {
    font-style: normal;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__title {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1.25;
    }

    @media (min-width: $desktop) {}
  }

  &__location {
    font-family: $add-font;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
    color: $small-text;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.25;
    }

    @media (min-width: $desktop) {
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__map {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }
}
