.contacts {

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &--silver {
    background: $silver-bg;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__container {
    @include container();
    padding-top: 28px;

    @media (min-width: $tablet) {
      padding-top: 65px;
    }

    @media (min-width: $desktop) {
      max-width: none;
      position: relative;
      padding-top: 0;
    }
  }

  &__address {
    @include flex-row();
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 26px;
    font-style: normal;

    @media (min-width: $tablet) {
      width: 88.42%;
      max-width: 626px;
      padding-bottom: 58px;
    }

    @media (min-width: $desktop) {
      justify-content: space-between;
      position: absolute;
      top: 95px;
      right: 50%;
      transform: translateX(-40px);
      width: 570px;
      padding-top: 65px;
      padding-right: 76px;
      padding-left: 76px;
      background: $white;
    }
  }

  &__title {
    @include flex-element();
    width: 50%;
    padding-right: 5%;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;
    span {
      display: block;
    }

    @media (min-width: $tablet) {
      padding-right: 20%;
      font-size: 20px;
      line-height: 1.25;
      span {}
    }

    @media (min-width: $desktop) {
      width: 40%;
      padding-right: 0;
      span {}
    }
  }

  &__location {
    @include field-reset();
    @include flex-element();
    width: 50%;
    font-family: $add-font;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
    color: $small-text;

    @media (min-width: $tablet) {
      padding-left: 20%;
      text-align: right;
      font-size: 16px;
      line-height: 1.25;
      span {
        display: block;
        padding-top: 18px;
      }
    }

    @media (min-width: $desktop) {
      width: 40%;
      padding-left: 0;
      text-align: left;
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__map {
    margin-right: -20px;
    margin-left: -20px;
    min-height: 362px;
    background: $transparent url("../img/content/contacts---map-mobile@1x.png") no-repeat center;
    background-size: cover;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: $transparent url("../img/content/contacts---map-mobile@2x.png") no-repeat center;
      background-size: cover;
    }
    iframe {
      display: block;
      border: none;
      width: 100%;
      height: 362px;
    }

    @media (min-width: $tablet) {
      margin-right: -30px;
      margin-left: -30px;
      min-height: 396px;
      background: $transparent url("../img/content/contacts---map-tablet@1x.png") no-repeat center bottom;
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: $transparent url("../img/content/contacts---map-tablet@2x.png") no-repeat center bottom;
        background-size: cover;
      }
      iframe {
        height: 396px;
      }
    }

    @media (min-width: $desktop) {
      margin-right: -40px;
      margin-left: -40px;
      min-height: 400px;
      background: $silver-bg url("../img/content/contacts---map-desktop@1x.png") no-repeat center bottom;
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: $silver-bg url("../img/content/contacts---map-desktop@2x.png") no-repeat center bottom;
        background-size: cover;
      }
      iframe {
        height: 400px;
      }
    }
  }
}
