.footer {
  background: $silver-bg;

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__container {
    @include container();
    padding-top: 39px;

    @media (min-width: $tablet) {
      @include flex-row();
      justify-content: space-between;
      padding-top: 60px;
      padding-bottom: 44px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 55px;
    }
  }

  &__logo {
    padding-bottom: 31px;
    text-align: center;

    @media (min-width: $tablet) {
      padding-bottom: 0;
      padding-top: 4px;
    }

    @media (min-width: $desktop) {}
  }

  &__logo-link {
    img {
      width: 128px;
    }

    @media (min-width: $tablet) {
      img {

      }
    }

    @media (min-width: $desktop) {
      img {}
    }
  }

  &__dev {
    padding-bottom: 23px;

    @media (min-width: $tablet) {
      padding-bottom: 0;
      padding-top: 9px;
    }

    @media (min-width: $desktop) {
      padding-top: 0;
    }
  }

  &__dev-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    font-family: $add-font;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: $small-text;
    span,
    svg {
      @include flex-element();
    }
    svg {
      fill: $add-color-1;
    }

    @media (min-width: $tablet) {
      justify-content: flex-start;
      svg {
        margin-left: 23px;
      }
    }

    @media (min-width: $desktop) {
      span,
      svg {}
    }
  }
}
