.form {

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__cat {
    @include field-reset();
    padding-bottom: 28px;
    border: none;

    @media (min-width: $tablet) {
      padding-bottom: 75px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 69px;
    }
  }

  &__title {
    @include container();
    @include max-mobile(540px);
    width: 100%;
    position: relative;
    padding-bottom: 34px;
    font-family: $main-font;
    line-height: 1;
    font-size: 24px;
    font-weight: 400;
    color: $big-text;
    @-moz-document url-prefix() {
      margin: 0 0 0 50%;
      transform: translateX(-50%);
    }
    span {
      display: inline-block;
      margin-left: -22px;
      padding-right: 20px;
      padding-left: 20px;
      background: $white;
    }

    @media (min-width: $tablet) {
      @include max-tablet(901px);
      padding-right: 67px;
      padding-bottom: 76px;
      padding-left: 29px;
      font-size: 36px;
      @-moz-document url-prefix() {
        margin: 0 0 0 50%;
        transform: translateX(-50%);
      }
      span {
        margin-left: 0;
        padding-right: 41px;
        padding-left: 41px;
      }
      br {
        display: none;
      }
    }

    @media (min-width: $desktop) {
      @include max-desktop();
      margin: 0 auto;
      padding-right: $desktop-indent;
      padding-left: $desktop-indent;
      @-moz-document url-prefix() {
        margin: 0 0 0 50%;
        transform: translateX(-50%);
      }
      span {
        margin-left: -41px;
      }
    }
  }

  &__title--addition {

    @media (min-width: $tablet) {
      padding-bottom: 58px;
    }

    @media (min-width: $desktop) {}
  }

  &__title::before {
    @include pseudo();
    z-index: -1;
    top: 14px;
    right: -50vw;
    left: -50vw;
    height: 3px;
    background: $green;

    @media (min-width: $tablet) {
      top: 22px;
    }

    @media (min-width: $desktop) {}
  }

  &__cat-container {
    @include container();

    @media (min-width: $tablet) {
      padding-right: 67px;
      padding-left: 70px;
    }

    @media (min-width: $desktop) {
      @include flex-row-s();
      @include max-desktop();
      justify-content: center;
      padding-right: $desktop-indent;
      padding-left: $desktop-indent;
    }
  }

  &__cat-inputs {
    @include flex-column;
    @include max-mobile();
    position: relative;
    padding-bottom: 24px;

    @media (min-width: $tablet) {
      @include max-tablet();
      padding-bottom: 72px;
    }

    @media (min-width: $desktop) {
      flex-grow: 1;
      max-width: none;
      margin-right: 80px;
      padding-bottom: 0;
    }
  }

  &__cat-inputs::after {
    @include pseudo();
    right: -50vw;
    bottom: 0;
    left: -50vw;
    border-bottom: 1px solid transparentize($small-border, 0.5);

    @media (min-width: $tablet) {
      display: none;
    }

    @media (min-width: $desktop) {}
  }

  &__cat-name {
    @include flex-row-s;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
    span {
      @include flex-element();
      @include font-label-name();
      padding-right: 15px;
      cursor: pointer;
    }
    input {
      @include flex-element();
      flex-grow: 1;
      min-height: 45px;
      padding-top: 12px;
      padding-right: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      text-transform: uppercase;
      border: 1px solid transparentize($small-border, 0.5);
    }

    @media (min-width: $tablet) {
      margin-bottom: 20px;
      span {
        padding-right: 19px;
      }
      input {
        max-height: 52px;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 17px;
        font-size: 20px;
      }
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__cat-weight {
    @include flex-row-s;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
    span {
      @include flex-element();
      @include font-label-name();
      padding-right: 18px;
      cursor: pointer;
    }
    input {
      @include flex-element();
      flex-grow: 1;
      min-height: 45px;
      padding-top: 12px;
      padding-right: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      text-transform: uppercase;
      border: 1px solid transparentize($small-border, 0.5);
    }

    @media (min-width: $tablet) {
      margin-bottom: 20px;
      span {
        padding-right: 23px;
      }
      input {
        max-height: 52px;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 17px;
        font-size: 20px;
      }
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__cat-age {
    @include flex-row-s;
    align-items: center;
    width: 100%;
    span {
      @include flex-element();
      @include font-label-name();
      padding-right: 16px;
      cursor: pointer;
    }
    input {
      @include flex-element();
      flex-grow: 1;
      min-height: 45px;
      padding-top: 12px;
      padding-right: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      text-transform: uppercase;
      border: 1px solid transparentize($small-border, 0.5);
    }

    @media (min-width: $tablet) {
      span {
        padding-right: 19px;
      }
      input {
        max-height: 52px;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 17px;
        font-size: 20px;
      }
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__radio {
    @include flex-column;
    @include max-mobile();
    position: relative;
    padding-top: 20px;
    padding-bottom: 21px;

    @media (min-width: $tablet) {
      @include max-tablet();
      padding-top: 27px;
      padding-right: 28px;
      padding-bottom: 28px;
      padding-left: 28px;
    }

    @media (min-width: $desktop) {
      flex-grow: 1;
      max-width: none;
      padding-bottom: 27px;
    }
  }

  &__radio::after {
    @include pseudo();
    right: -50vw;
    bottom: 0;
    left: -50vw;
    border-bottom: 1px solid transparentize($small-border, 0.5);

    @media (min-width: $tablet) {
      top: 0;
      right: -50vw;
      left: 0;
      z-index: -1;
      border: 1px solid transparentize($small-border, 0.5);
    }

    @media (min-width: $desktop) {
      right: 0;
    }
  }

  &__cat-thin {
    @include flex-element();
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 46px;
    span {
      @include font-label-name();
      position: relative;
      cursor: pointer;
    }
    input {
      display: none;
    }

    @media (min-width: $tablet) {
      margin-bottom: 18px;
      padding-left: 59px;
      span {}
      input {}
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__cat-thick {
    @include flex-element();
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 46px;
    span {
      @include font-label-name();
      position: relative;
      cursor: pointer;
    }
    input {
      display: none;
    }

    @media (min-width: $tablet) {
      margin-bottom: 18px;
      padding-left: 59px;
      span {}
      input {}
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__cat-unknown {
    @include flex-element();
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 46px;
    span {
      @include font-label-name();
      position: relative;
      cursor: pointer;
    }
    input {
      display: none;
    }

    @media (min-width: $tablet) {
      padding-left: 59px;
      span {}
      input {}
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__cat-thin,
  &__cat-thick,
  &__cat-unknown {
    span::before {
      @include pseudo();
      top: -3px;
      left: -46px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $small-border;
    }

    @media (min-width: $tablet) {
      span::before {
        top: -5px;
        left: -59px;
        width: 40px;
        height: 40px;
      }
    }

    @media (min-width: $desktop) {}
  }

  &__cat-thin input[type="radio"]:checked,
  &__cat-thick input[type="radio"]:checked,
  &__cat-unknown input[type="radio"]:checked {
    ~ span:active {
      opacity: 1;
    }

    ~ span::before {
      background-image: radial-gradient(circle, $green 30%, $transparent 30%);
    }
    @media (min-width: $tablet) {
      ~ span::before {
        background-image: radial-gradient(circle, $green 33%, $transparent 33%);
      }
    }

    @media (min-width: $desktop) {}
  }

  &__cat-thin input[type="radio"],
  &__cat-thick input[type="radio"],
  &__cat-unknown input[type="radio"] {
    ~ span:active {
      opacity: 0.6;
    }
  }

  &__owner {
    @include field-reset();
    padding-bottom: 28px;
    border: none;

    @media (min-width: $tablet) {
      padding-bottom: 65px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 67px;
    }
  }

  &__owner-container {
    @include container();
    @include flex-column();
    @include max-mobile(540px);

    @media (min-width: $tablet) {
      @include max-tablet(980px);
      padding-right: 67px;
      padding-left: 70px;
    }

    @media (min-width: $desktop) {
      @include flex-row-s();
      @include max-desktop();
      justify-content: center;
      padding-right: $desktop-indent;
      padding-left: $desktop-indent;
    }
  }

  &__owner-email {
    @include flex-row-s;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 14px;
    span {
      @include flex-element();
      @include font-label-name();
      padding-right: 13px;
      cursor: pointer;
    }
    input {
      @include flex-element();
      flex-grow: 1;
      min-height: 45px;
      padding-top: 12px;
      padding-right: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      text-transform: uppercase;
      border: 1px solid transparentize($small-border, 0.5);
    }
    svg {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 17px;
      height: 13px;
      fill: $add-color-5;
    }

    @media (min-width: $tablet) {
      margin-bottom: 20px;
      span {
        padding-right: 22px;
      }
      input {
        max-height: 52px;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 19px;
        font-size: 20px;
      }
      svg {
        top: 20px;
        right: 19px;
      }
    }

    @media (min-width: $desktop) {
      flex-basis: 100%;
      max-width: 570px;
      flex-grow: 1;
      margin-right: 80px;
      margin-bottom: 0;
      span {}
      input {}
      svg {
        right: 20px;
      }
    }
  }

  &__owner-tel {
    @include flex-row-s;
    align-items: center;
    position: relative;
    width: 100%;
    span {
      @include flex-element();
      @include font-label-name();
      padding-right: 11px;
      cursor: pointer;
    }
    input {
      @include flex-element();
      flex-grow: 1;
      min-height: 45px;
      padding-top: 12px;
      padding-right: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      text-transform: uppercase;
      border: 1px solid transparentize($small-border, 0.5);
    }
    svg {
      position: absolute;
      top: 13px;
      right: 13px;
      width: 20px;
      height: 20px;
      fill: $add-color-5;
    }

    @media (min-width: $tablet) {
      span {
        padding-right: 16px;
      }
      input {
        max-height: 52px;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 18px;
        font-size: 20px;
      }
      svg {
        top: 17px;
        right: 16px;
      }
    }

    @media (min-width: $desktop) {
      flex-basis: auto;
      max-width: 570px;
      flex-grow: 1;
      span {}
      input {}
      svg {
        right: 19px;
      }
    }
  }

  &__comment {
    @include field-reset();
    padding-bottom: 26px;
    border: none;

    @media (min-width: $tablet) {
      padding-bottom: 63px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 65px;
    }
  }

  &__comment-container {
    @include container();
    @include max-mobile(540px);
    textarea {
      width: 100%;
      min-height: 151px;
      max-height: 250px;
      padding: 13px;
      text-transform: uppercase;
      resize: vertical;
      border: 1px solid transparentize($small-border, 0.5);
    }

    @media (min-width: $tablet) {
      @include max-tablet(980px);
      padding-right: 67px;
      padding-left: 70px;
      textarea {
        min-height: 174px;
        padding-right: 18px;
        padding-left: 18px;
        font-size: 20px;
      }
    }

    @media (min-width: $desktop) {
      @include max-desktop();
      padding-right: $desktop-indent;
      padding-left: $desktop-indent;
      textarea {}
    }
  }

  &__addition {
    @include field-reset();
    padding-bottom: 34px;
    border: none;

    @media (min-width: $tablet) {
      padding-bottom: 58px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 65px;
    }
  }

  &__addition-container {
    @include container();
    @include flex-column();
    @include max-mobile(540px);
    label {
      @include flex-element();
      margin-bottom: 10px;
    }
    label:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $tablet) {
      @include flex-row-s;
      @include max-tablet();
      justify-content: center;
      flex-wrap: wrap;
      padding-right: 67px;
      padding-left: 70px;
      label:nth-child(odd) {
        margin-right: 9.03%;
      }
      label {
        margin-bottom: 37px;
      }
      label:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $desktop) {
      @include max-desktop();
      justify-content: flex-start;
      padding-right: $desktop-indent;
      padding-left: $desktop-indent;
      label,
      label:nth-child(odd) {
        margin: 0;
        margin-right: 6.56%;
        width: 20.08%;
        max-width: none;
      }
      label:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  &__addition-sugar {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 46px;
    &:active {
      opacity: 0.6;
    }
    span {
      @include font-label-name();
      position: relative;
      cursor: pointer;
    }
    input {
      display: none;
    }

    @media (min-width: $tablet) {
      width: 45.48%;
      max-width: 300px;
      padding-left: 58px;
      span {}
      input {}
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__addition-water {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 46px;
    &:active {
      opacity: 0.6;
    }
    span {
      @include font-label-name();
      position: relative;
      cursor: pointer;
    }
    input {
      display: none;
    }

    @media (min-width: $tablet) {
      width: 45.48%;
      max-width: 300px;
      padding-left: 58px;
      span {}
      input {}
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__addition-milk {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 46px;
    &:active {
      opacity: 0.6;
    }
    span {
      @include font-label-name();
      position: relative;
      cursor: pointer;
    }
    input {
      display: none;
    }

    @media (min-width: $tablet) {
      width: 45.48%;
      max-width: 300px;
      margin-bottom: 0;
      padding-left: 58px;
      span {}
      input {}
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__addition-vito {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 46px;
    &:active {
      opacity: 0.6;
    }
    span {
      @include font-label-name();
      position: relative;
      cursor: pointer;
    }
    input {
      display: none;
    }

    @media (min-width: $tablet) {
      width: 45.48%;
      max-width: 300px;
      padding-left: 58px;
      span {}
      input {}
    }

    @media (min-width: $desktop) {
      span {}
      input {}
    }
  }

  &__addition-sugar,
  &__addition-water,
  &__addition-milk,
  &__addition-vito {
    span::before {
      @include pseudo();
      top: -3px;
      left: -46px;
      width: 30px;
      height: 30px;
      border: 1px solid $small-border;
    }

    @media (min-width: $tablet) {
      span::before {
        left: -58px;
        width: 40px;
        height: 40px;
      }
    }

    @media (min-width: $desktop) {}
  }

  &__addition-sugar input[type="checkbox"]:checked,
  &__addition-water input[type="checkbox"]:checked,
  &__addition-milk input[type="checkbox"]:checked,
  &__addition-vito input[type="checkbox"]:checked {
    ~ span::before {
      background: url("../img/svg-bg/form--tick.svg") no-repeat center;
      background-size: 21px 16px;
    }
    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__push {
    span {
      display: block;
      font-family: $add-font;
      font-size: 14px;
      line-height: 1.14;
      font-weight: 400;
      color: $small-text;
      text-align: center;
    }

    @media (min-width: $tablet) {
      @include flex-row();
      @include max-tablet(980px);
      flex-wrap: wrap;
      padding-right: 67px;
      padding-left: 70px;
      span {
        @include flex-element();
        padding-top: 17px;
        font-size: 16px;
      }
    }

    @media (min-width: $desktop) {
      @include max-desktop();
      justify-content: space-between;
      padding-right: $desktop-indent;
      padding-left: $desktop-indent;
      span {
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 568px;
        text-align: left;
      }
    }
  }
}
/* -----------------HOVER */
input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
  border-color: $small-border;
}

input[type="text"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="tel"]:active,
textarea:active,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: $small-text;
  outline: 1px solid $small-text;
  ~ svg {
    fill: $green;
  }
}
