.main-catalog {

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__container {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__title {
    font-family: $main-font;
    font-size: 25px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;

    @media (min-width: $tablet) {
      font-size: 35px;
      line-height: 1;
    }

    @media (min-width: $desktop) {}
  }

  &__list {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__container {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }
}
