.product {

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__container {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__container--all {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__title {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: uppercase;
    a {
      color: $big-text;
    }

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1;
      a {}
    }

    @media (min-width: $desktop) {
      a {}
    }
  }

  &__title-all {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1;
    }

    @media (min-width: $desktop) {}
  }

  &__trext-all {
    font-family: $add-font;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    color: $small-text;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.25;
    }

    @media (min-width: $desktop) {}
  }

  &__property {
    font-family: $add-font;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    color: $small-text;
    tr {}
    td {}

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 1;
      tr {}
      td {}
    }

    @media (min-width: $desktop) {
      tr {}
      td {}
    }
  }

  &__img {
    img {}

    @media (min-width: $tablet) {
      img {}
    }

    @media (min-width: $desktop) {
      img {}
    }
  }
}
