.program-form {
  padding-top: 16px;

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__title {
    @include field-reset();
    padding-right: $mobile-indent;
    padding-bottom: 25px;
    padding-left: $mobile-indent;
    font-family: $main-font;
    font-size: 36px;
    line-height: 1.67;
    font-weight: 400;
    color: $big-text;

    @media (min-width: $tablet) {
      font-size: 60px;
      line-height: 1;
    }

    @media (min-width: $desktop) {}
  }

  &__text {
    @include field-reset();
    width: 90%;
    padding-right: $mobile-indent;
    padding-bottom: 39px;
    padding-left: $mobile-indent;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1.5;
    }

    @media (min-width: $desktop) {}
  }
}
