.promo {
  position: relative;

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &::before {
    @include pseudo();
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 306px;
    background: #63a73a url("../img/content/promo--bg-mobile@1x.jpg") no-repeat;
    background-size: cover;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #63a73a url("../img/content/promo--bg-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (min-width: $tablet) {
      display: none;
    }

    @media (min-width: $desktop) {}
  }

  &__container {
    @include container();
    @include max-mobile(540px);
    padding-top: 27px;
    padding-bottom: 22px;

    @media (min-width: $tablet) {
      @include flex-column();
      @include max-tablet();
      padding-top: 48px;
      padding-bottom: 1px;
    }

    @media (min-width: $desktop) {
      @include max-desktop();
      padding-top: 102px;
      padding-bottom: 56px;
    }
  }

  &__title {
    @include field-reset();
    padding-bottom: 26px;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: $main-font;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: $white;

    @media (min-width: $tablet) {
      padding-right: 50px;
      padding-bottom: 41px;
      padding-left: 87px;
      text-align: left;
      font-size: 60px;
      color: $big-text;
      order: 1;
    }

    @media (min-width: $desktop) {
      width: 50%;
      padding-left: 6.5%;
    }
  }

  &__text {
    @include field-reset();
    position: relative;
    z-index: 1;
    padding-bottom: 27px;
    text-align: center;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;

    @media (min-width: $tablet) {
      z-index: 10;
      padding-right: 50px;
      padding-bottom: 44px;
      padding-left: 87px;
      text-align: left;
      font-size: 20px;
      color: $big-text;
      order: 2;
    }

    @media (min-width: $desktop) {
      padding-bottom: 53px;
      padding-left: 6.5%;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    padding-bottom: 3px;
    text-align: center;
    img {
      display: inline-block;
      width: 280px;
      height: 271px;
    }

    @media (min-width: $tablet) {
      width: 100%;
      margin-top: -76px;
      padding-bottom: 0;
      order: 4;
      img {
        width: 709px;
        height: 609px;
      }
    }

    @media (min-width: $desktop) {
      margin-top: -367px;
      padding-left: 18.85%;
      img {
        width: 552px;
        height: 499px;
      }
    }
  }
}
