.range-slider {

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__img {
    text-align: center;
    margin-right: -20px;
    margin-left: -20px;
    padding-bottom: 31px;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__img-before {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__img-after {
    display: none;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__control {
    @include flex-row();
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    max-width: 320px;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__direction {
    @include flex-element()
    background: $transparent;
    border: none;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1;
    }

    @media (min-width: $desktop) {}
  }

  &__scale {
    flex-grow: 1;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__bar {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__handle {
    font-size: 0;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }
}
