.range-slider {

  @media (min-width: $tablet) {
    width: 100%;
    padding-top: 86px;
    z-index: 10;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: -141px;
    right: 0;
    width: auto;

  }

  &__img {
    text-align: center;
    margin-right: -20px;
    margin-left: -20px;
    padding-bottom: 31px;

    @media (min-width: $tablet) {
      margin-right: 0;
      margin-left: 0;
      padding-bottom: 18px;
      padding-left: 13px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 39px;
    }
  }

  &__img-before {

    @media (min-width: $tablet) {

    }

    @media (min-width: $desktop) {}
  }

  &__img-after {
    display: none;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__control {
    @include flex-row();
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    max-width: 290px;

    @media (min-width: $tablet) {
      width: 82.2%;
      max-width: 582px;
    }

    @media (min-width: $desktop) {
      margin-right: 0;
      margin-left: 12.6%;
      max-width: 578px;

    }
  }

  &__direction {
    @include flex-element()
    background: $transparent;
    border: none;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;

    @media (min-width: $tablet) {
      padding-bottom: 6px;
      border-bottom: 1px dotted $add-color-3;
      font-size: 20px;
      line-height: 1;
    }

    @media (min-width: $desktop) {}
  }

  &__scale {
    flex-grow: 1;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__bar {

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__handle {
    font-size: 0;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }
}
