.sample {
  background: $silver-bg;

  @media (min-width: $tablet) {
    position: relative;
    background: $white;
  }

  @media (min-width: $desktop) {}

  &::before {

    @media (min-width: $tablet) {
      @include pseudo();
      right: 0;
      bottom: 0;
      left: 0;
      height: 462px;
      background-image: linear-gradient(90deg, $silver-bg 50%, $add-color-4 50%);
    }

    @media (min-width: $desktop) {
      height: 462px;
      background-image: linear-gradient(90deg, $silver-bg 50%, $add-color-4 50%);
    }
  }

  &__container {
    @include container();
    @include max-mobile(540px);
    padding-top: 17px;
    padding-bottom: 35px;

    @media (min-width: $tablet) {
      @include flex-row();
      @include max-tablet();
      position: relative;
      flex-wrap: wrap;
      padding-top: 43px;
      padding-bottom: 68px;
    }

    @media (min-width: $desktop) {
      @include flex-column();
      @include max-desktop();
      padding-top: 0;
      padding-bottom: 75px;
    }
  }

  &__container::before {
    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {
      @include pseudo();
      right: 0;
      bottom: 0;
      left: 0;
      height: 462px;
      background-image: linear-gradient(90deg, $silver-bg 75%, $add-color-4 75%);
    }
  }

  &__title {
    display: block;
    padding-bottom: 23px;
    font-family: $main-font;
    font-size: 36px;
    line-height: 1.67;
    font-weight: 400;
    color: $big-text;

    @media (min-width: $tablet) {
      padding-bottom: 64px;
      font-size: 60px;
      line-height: 1;
    }

    @media (min-width: $desktop) {
      width: 38%;
      padding-bottom: 146px;
    }
  }

  &__text {
    @include field-reset();
    padding-right: 1%;
    padding-bottom: 25px;
    font-family: $add-font;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    color: $small-text;

    @media (min-width: $tablet) {
      padding-bottom: 53px;
      font-size: 16px;
      line-height: 1.5;
    }

    @media (min-width: $desktop) {
      position: relative;
      width: 36%;
      padding-right: 0;
      padding-bottom: 68px;
    }
  }

  &__list {
    @include order-reset();
    @include flex-row();
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 35px;

    @media (min-width: $tablet) {
      width: 51.69%;
      max-width: 580px;
      padding-bottom: 0;
    }

    @media (min-width: $desktop) {
      width: 30%;
      max-width: none;
      margin-right: auto;
      margin-left: 0;
      padding-bottom: 48px;
    }
  }

  &__item {
    @include flex-element();
    flex-grow: 1;
    min-width: 124px;
    flex-basis: 124px;
    position: relative;
    padding-top: 13px;
    padding-bottom: 17px;
    font-family: $main-font;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $big-text;
    border: 1px solid $small-border;
    border-radius: 3px;
    sub {
      position: absolute;
      left: 50%;
      bottom: 0;
      min-width: 45%;
      padding: 0 15px;
      transform: translate(-50%, 65%);
      text-align: center;
      font-family: $add-font;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      text-transform: none;
      color: $small-text;
      background: $silver-bg;
    }

    @media (min-width: $tablet) {
      padding-top: 15px;
      padding-bottom: 19px;
      font-size: 30px;
      line-height: 1.23;
      sub {
        min-width: 86%;
        padding: 0 5px;
        transform: translate(-50%, 50%);
        font-size: 14px;
        line-height: 1;
        background: $white;
      }
    }

    @media (min-width: $desktop) {
      sub {
        background: $silver-bg;
      }
    }
  }

  &__item:last-child {
    margin-left: 32px;

    @media (min-width: $tablet) {
      margin-left: 42px;
    }

    @media (min-width: $desktop) {}
  }

  &__value {
    @include field-reset();
    padding-bottom: 33px;
    text-align: center;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
    text-transform: uppercase;
    color: $big-text;
    span {}

    @media (min-width: $tablet) {
      @include flex-element();
      width: 48.31%;
      padding-top: 12px;
      padding-bottom: 0;
      text-align: right;
      font-size: 20px;
      line-height: 1;
      span {
        padding-top: 9px;
        display: block;
      }
    }

    @media (min-width: $desktop) {
      position: relative;
      width: 38%;
      text-align: left;
      span {
        display: inline;
        padding-top: 0;
        padding-left: 59px;
      }
    }
  }
}
