.social {
  margin-bottom: 22px;
  padding-top: 21px;
  padding-bottom: 22px;
  border-top: 1px $add-color-3 solid;
  border-bottom: 1px $add-color-3 solid;

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {}

  &__list {
    @include order-reset();
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 48%;
    max-width: 280px;
    padding-right: 10px;

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__item {
    @include flex-element();

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }

  &__item-link {
    display: block;
    font-size: 0;
    svg {
      fill: $add-color-1;
    }

    @media (min-width: $tablet) {}

    @media (min-width: $desktop) {}
  }
}
